@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Ranga');

body{
    background-color: #323232;
    margin: 0;
    font-family: 'Courier New'; 
    /* background-size:cover;*/
    background-image: url(../foto/background/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #252525;
    position: fixed;
    height: 100%;
    overflow: auto;
    opacity: 0.9;
}

li a {
    display: block;
    color: #fff;
    padding: 27px 12px;
    text-decoration: none;
    
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

img.list{
    width: 35px;
    height: 35px;
    opacity: 1;
}

.fnt{
    font-family: 'Architects Daughter';
    text-shadow: 20px 20px 40px black, 0 0 5px gold;
}

/*----------------------------------------*/
.main{
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid green;
    max-width: 1000px;
    min-width: 310px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    align-items: left;
    border-radius: 10px;
}

.inf{
    font-size: 15px;
    transition: 0.1s ease;
}

.inf:hover{
    font-size: 17px;
    transition: 0.1s ease;
}

.content{
    
    font-size: 20px
}

p.cont{
font-size: 18px;
text-indent: 30px;
text-align: justify;;
}
/*----------------------------------------*/
img.cls1{
    border-right: 3px;
    border-left: 3px;
    transition: all 0.2s ease;
}


@media only screen and (max-width: 700px) {
    img.cls1{
    width:200px;
    height:100px;
    border-right: 3px;
    border-left: 3px;
    transition: all 0.2s ease;
}
}
/*----------------------------------------*/
div.obj_tm{
    display: inline;
    width:3000px;
    height:3000px;
    border-radius: 2px;
    opacity: 0.75;
    transition: all 0.5s ease;
}
div.obj_tm:hover{
    opacity: 1;
    transition: all 0.5s ease;
}

img.img_tm{
    width: 240px;
    height: 180px;
}

@media only screen and (max-width: 700px) {
img.img_tm{
    width: 200px;
    height: 140px;
}
}

/*----------------------------------------*/
a{
    text-decoration: none;
}
img.gms{
    width: 250px;
    height: 250px;
    border: 0px solid black;
    transition: all 0.4s ease;

}
img.gms:hover{
    width: 255px;
    height: 255px;
    border: 0px;
    transition: all 0.4s ease;
}
@media only screen and (max-width: 800px) {
    img.gms{
    width: 150px;
    height: 150px;
    border: 0px solid black;
    transition: all 0.4s ease;

}
img.gms:hover{
    width: 155px;
    height: 155px;
    border: 0px;
    transition: all 0.4s ease;
}
}
/*----------------------------------------*/
div.obj_tour{
    display: inline-table;
    width: 300px;
    white-space: nowrap;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    color:white;
    transition: 0.5s ease;
    font-style: arial;
    font-size: 20px;
    /*border: 1px solid gray;*/
    /*border-radius: 5px;*/
}
div.obj_tour:hover{
    color:black;
    transition: 0.5s ease;
}

img.sz{
    width: 290px;
    height: 100px;
    margin-left: 5px;
    border-radius: 5px;
}

p.pfnt{
   font-family: 'Ranga'; 
   letter-spacing: 6px;
   font-size: 22px;
}

/*----------------------------------------*/
a.top{
    width: 23px;
    height: 23px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 6px; 
    transition: all 0.5s ease;
}

a.top:hover{
    width: 30px;
    height: 30px;    
    position: fixed;
    bottom: 20px;
    right: 20px;    
    background-color: white;
    border-radius: 6px;     
    transition: all 0.5s ease;

}

img.img_top{
    width: 23px;
    height: 23px;
    transition: all 0.5s ease;
}
img.img_top:hover{
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
}

/*----------------------------------------*/
div.abt{
    
    width: 250px;
    
    margin:10px 10px 10px 10px;
}

fieldset{
    width: 300px;
    border-radius: 5px;
}

img.abtimg{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}


.dspl{
    display: inline;
}

div.abot{
text-shadow: 10px 10px 20px black, 0 0 1px blue;
transition: all 0.3s ease;
}

div.abot:hover{
text-transform: uppercase;
text-shadow: 10px 10px 20px black, 0 0 5px red;
transition: all 0.3s ease;
}
/*----------------------------------------*/

div.gal{
display: inline;
width: 500px;

}

img.gl{
width: 400px;
height: 260px;
border-radius: 5px;
margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
img.gl{
    width: 300px;
    height: 160px;
}